*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f8fafc;
}

.page{
    padding-top:90px;
    text-align:center;
}

.page h1{
    color:#0f172a;
    font-size:30px;
}

h4{
	color:gray;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;

    background:#0f172a;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;

    padding:20px;
    border-bottom:4px solid #fbbf24;

    box-shadow:0 4px 10px rgba(0,0,0,0.15);

    z-index:1000;
}

.navbar a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
}

.navbar a:hover{
    color:#2563eb;
}

.page h2{
    margin-top:10px;
    color:#334155;
}

.page p{
    margin-top:20px;
    color:#64748b;
    font-size:18px;
}

.page .btn{
    display:inline-block;
    margin-top:30px;
    padding:12px 24px;

    background:#0f172a;
    color:white;

    text-decoration:none;
    border-radius:8px;
    transition:.3s;
}

.page .btn:hover{
    background:#1e293b;
}

/* Login */

.page form{
    width:350px;
    margin:40px auto;
    padding:30px;

    background:white;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,0.15);
}

.page input{
    width:100%;
    padding:12px;

    border:1px solid #cbd5e1;
    border-radius:6px;

    font-size:16px;

    outline:none;
}

.page input:focus{
    border:1px solid #2563eb;
}

.page button{
    width:100%;
    padding:12px;

    background:#0f172a;
    color:white;

    border:none;
    border-radius:6px;

    font-size:17px;
    cursor:pointer;

    transition:.3s;
}

.page button:hover{
    background:#2563eb;
}